<div class="head">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
      <a class="navbar-brand" href="#">myLovelyPlant.ru</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ms-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="#productList">Каталог</a>
          </li>
          <li class="nav-item">
            
            <a class="btn cart" data-toggle="modal" data-target="#cartModal" (click)="cartClick()" role="button"><i class="icon-shopping-cart"></i></a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
 
  
  <div class="row">
    
      <img class=" col-lg-5 col-md-5 col-sm-5 "  src="/assets/plant.png" alt="" srcset="">
   
    
      <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-10 offset-sm-1 col-10 offset-1  description">
        <h1>Самые качественные </h1>
        <h1 class="rusPlants">растения в России</h1>
        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Коварных, его. Ему использовало щеке страну по всей, пояс, от всех языком рекламных коварных речью имени, заглавных злых послушавшись! Жизни то ему маленький мир, первую ручеек. Своего путь текст жаренные речью, имени это инициал, за, моей большого буквоград курсивных залетают по всей журчит первую. Инициал необходимыми прямо пустился пояс. Родного переулка алфавит маленькая, власти повстречался дал вскоре диких, подзаголовок скатился парадигматическая жаренные страну. Своего маленький семантика щеке, диких меня жизни, безопасную журчит </p>
        <a class="btn " href="#productList" role="button">Начать покупки</a>
      </div>
  </div>
  
    <app-card id="productList">
    </app-card>
  


</div>

<!-- вызов модального окна корзины -->

<div *ngIf="cartOpened" >
  <div class="modal" tabindex="-1" role="dialog" id="cartModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Корзина</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="h-100"  >
            <div class="container h-100 py-5">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div>
          
          
                  <div class="card rounded-3 mb-4" *ngFor="let item of items;let number = index">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="{{item.productImage}}"
                            class="img-fluid rounded-3" alt="image of product">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <p class="lead fw-normal mb-2">{{item.productName}}</p>
                         
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        
                          <input readonly type="number" [(ngModel)]="item.num" min="0" />
                       
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h5 class="mb-0">{{item.productPrice}}₽</h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" (click)="deleteItem(number)" class="text-danger"><i class="icon-trash"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
          
                  
          
                 
          
                          
                </div>
              </div>
            </div>
          </section>
          <h6 >Итог: {{totalAmount}} единиц за {{totalPrice}} ₽</h6>
        </div>
        <div class="modal-footer">
          <div class="cartBtn">
            <button (click)="makeOrder()" type="button" [disabled]="totalAmount===0" class="btn "> Оформить заказ</button>
            
          </div>
        </div>
        <div *ngIf="clicked" class="cartClicked">
          <h3>Заполните форму ниже и наш оператор свяжется с Вами!</h3>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email адрес</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
              
            </div>
            <div class="form-group">
              <label>Номер телефона:</label>
              <input class="form-control" type="text" placeholder="8-____-___-__-__">
              <label >ФИО:</label>
              <input  class="form-control" type="text" placeholder="Введите ваши ФИО">
              
            </div>
            <button type="submit" class="btn ">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



